CREATE TABLE [dbo].[USR_DCCUSTNBR_LIMITER] (
	[DC] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CUSTNBR] [char] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[create_timestamp] [datetime] NOT NULL ,
	[create_user] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[USR_DCCUSTNBR_LIMITER] WITH NOCHECK ADD 
	CONSTRAINT [PK_USR_DCCUSTNBR_LIMITER] PRIMARY KEY  CLUSTERED 
	(
		[DC],
		[CUSTNBR]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[USR_DCCUSTNBR_LIMITER] WITH NOCHECK ADD 
	CONSTRAINT [DF_USR_DCCUSTNBR_LIMITER_create_timestamp] DEFAULT (getdate()) FOR [create_timestamp]
GO

