if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[V_WKLY_MVMT_BY_ITEM_PL2_ALT]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[V_WKLY_MVMT_BY_ITEM_PL2_ALT]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.V_WKLY_MVMT_BY_ITEM_PL2_ALT
AS
SELECT     TOP 100 PERCENT dbo.MF_SUMBY_CUST_ITEM_SUMMARY.BRANCH_NBR, dbo.V_ITEM_MASTER_ALT.ITEM_NUMBER_CD, 
                      dbo.V_ITEM_MASTER_ALT.DESCRIPTION, dbo.V_ITEM_MASTER_ALT.ITEM_UPC, dbo.V_ITEM_MASTER_ALT.CASE_UPC, dbo.V_ITEM_MASTER_ALT.PACK, 
                      LTRIM(RTRIM(dbo.V_ITEM_MASTER_ALT.ITEM_SIZE)) + ' ' + LTRIM(RTRIM(dbo.V_ITEM_MASTER_ALT.UOM)) AS ITEMSIZE, dbo.V_ITEM_MASTER_ALT.VENDOR, 
                      dbo.V_ITEM_MASTER_ALT.VENDOR_NAME, dbo.V_ITEM_MASTER_ALT.WHOLESALE_SALES_CODE, 
                      SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.QTY_SHIPPED) AS TOT_SHIPPED, SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.OUTS) 
                      AS TOT_OUTS, SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.LAYER_COST_TOTAL) AS TOT_LAYER_COST, 
                      SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.INV_COST_TOTAL) AS TOT_INV_COST, 
                      SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.SPREAD_COST_TOTAL) AS TOT_SPREAD_COST, 
                      SUM(dbo.MF_SUMBY_CUST_ITEM_SUMMARY.INVOICE_SELL_TOTAL) AS TOT_INVOICE_SELL
FROM         dbo.V_ITEM_MASTER_ALT INNER JOIN
                      dbo.MF_SUMBY_CUST_ITEM_SUMMARY ON dbo.V_ITEM_MASTER_ALT.ITEM_NBR = dbo.MF_SUMBY_CUST_ITEM_SUMMARY.ITEM_NBR AND 
                      dbo.V_ITEM_MASTER_ALT.DC = dbo.MF_SUMBY_CUST_ITEM_SUMMARY.BRANCH_NBR
WHERE     (dbo.MF_SUMBY_CUST_ITEM_SUMMARY.WK_END_DATE BETWEEN CONVERT(DATETIME, '2005-01-02 00:00:00', 102) AND CONVERT(DATETIME, 
                      '2005-12-31 00:00:00', 102))
GROUP BY dbo.MF_SUMBY_CUST_ITEM_SUMMARY.BRANCH_NBR, dbo.V_ITEM_MASTER_ALT.ITEM_NUMBER_CD, dbo.V_ITEM_MASTER_ALT.ITEM_UPC, 
                      dbo.V_ITEM_MASTER_ALT.DESCRIPTION, dbo.V_ITEM_MASTER_ALT.VENDOR, dbo.V_ITEM_MASTER_ALT.VENDOR_NAME, dbo.V_ITEM_MASTER_ALT.CASE_UPC, 
                      dbo.V_ITEM_MASTER_ALT.PACK, LTRIM(RTRIM(dbo.V_ITEM_MASTER_ALT.ITEM_SIZE)) + ' ' + LTRIM(RTRIM(dbo.V_ITEM_MASTER_ALT.UOM)), 
                      dbo.V_ITEM_MASTER_ALT.WHOLESALE_SALES_CODE
HAVING      (dbo.V_ITEM_MASTER_ALT.WHOLESALE_SALES_CODE IN ('003', '004', '005', '007', '014', '050', '056', '065', '080', '081', '082', '083', '084', '090', '092', 
                      '093', '100', '126', '127', '129', '130', '131', '132', '133', '134', '135', '136', '147', '148', '149', '153', '166', '184'))
ORDER BY dbo.MF_SUMBY_CUST_ITEM_SUMMARY.BRANCH_NBR, dbo.V_ITEM_MASTER_ALT.CASE_UPC, dbo.V_ITEM_MASTER_ALT.PACK, 
                      dbo.V_ITEM_MASTER_ALT.ITEM_UPC



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

